<h1>Kategorie</h1>

<p *ngIf="!categories"><em>Loading...</em></p>
<p>
  <!-- <a [routerLink]="['/add']" class="btn btn-primary float-right mb-3">New post</a> -->
</p>

<table class="table table-sm table-hover" *ngIf="categories?.length>0">
  <thead>
    <tr>
      <th>#</th>
      <th>IDSklepu</th>
      <th>Name</th>
      <th>Kategoria sklepu</th>
      <th>Ilość produktów</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories">
      <td>{{ category.id }}</td>
      <td>{{ category.shopCategoryId }}</td>
      <td>{{ category.name }}</td>
      <td>{{ category.shopName }}</td>
      <td>{{ category.products }}</td>
    </tr>
  </tbody>
</table>
