<div class="list-group">
    <a [routerLink]="['/']" class="list-group-item list-group-item-action list-group-item-primary">Budowlane Castorama</a>
    <a [routerLink]="['/']" class="list-group-item list-group-item-action list-group-item-warning">Budowlane OBI</a>
    <a [routerLink]="['/']" class="list-group-item list-group-item-action list-group-item-success">Budowlane Leroy Merlin</a>
  </div>

  <button (click)="onClickMe(box.value)">Kategoria do pobrania</button>
    <p>{{clickMessage}}</p>
    <input #box>
    <p>{{value}}</p>
    <!-- <p>{{totalAngularPackages}}</p> -->
    <p>{{objectArray}}</p>
